{% extends 'base.html' %}
{% load static %}

{% block title %}
    لیست مربیان
{% endblock %}


{% block content %}
    <section class="team_area section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h2>با مربیان ما آشنا شوید</h2>
                <p>ما یک رویکرد کاملاً جدید برای اساسی ترین پارادایم های یادگیری ارائه می دهیم. از میان طیف گسترده ای از
                    گزینه های یادگیری انتخاب کنید و مهارت های جدیدی به دست آورید! مدرسه ما معلوم است</p>
            </div>
            <div class="row">
                {% for i in coachs %}
                    <div class="col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s"
                         data-wow-offset="0">
                        <div class="our-team">
                            <div class="team-content">
                                <a href="/coach/{{ i.id }}"><img src="{{ i.image_coach.url }}" alt=""></a>
                                <ul class="social-links">
                                    <li><a href="#" class="ti-twitter"></a></li>
                                    <li><a href="#" class="ti-linkedin"></a></li>
                                    <li><a href="#" class="ti-facebook"></a></li>
                                </ul>
                            </div>
                            <div class="team-prof">
                                <h3>{{ i.name }}</h3>
                                <span>{{ i.work_type }}</span>
                            </div>
                            <div class="sth_det2">
                                <span class="ti-file"><u>{{ i.course_number }} دوره</u></span><span
                                    class="ti-user"><u>{{ i.student_number }} دانشجو</u></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if coachs.has_other_pages %}
            <div class="d-flex mt-4 gap-3 justify-content-center align-items-center">
                {% if coachs.has_previous %}
                    <a href="?page={{ coachs.previous_page_number }}" class="btn btn-outline-success ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"/>
                        </svg>
                    </a>
                {% endif %}
                {% for i in coachs.paginator.page_range %}
                    <a href="?page={{ i }}" class="btn btn-outline-primary">{{ i }}</a>

                {% endfor %}
                {% if coachs.has_next %}
                    <a href="?page={{ coachs.next_page_number }}" class="btn btn-outline-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"/>
                        </svg>
                    </a>
                {% endif %}


            </div>
        {% endif %}
    </section>


{% endblock %}
